.body{
    background-image: url(./images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
   
}
.header a{
    text-decoration: none;
    color: white
}
.header{
    text-align: right;
    font-size: 14px;
    margin-top: 25px;
    margin-right: 30px
    
}
.header a:hover{
    text-decoration: underline;
    color: white
}

.cover h1{
    font-size: 52px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.cover h2{
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-align: center;
    color: wheat
}
.cover h3{
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: 'Pacifico', cursive;
    color: white;
    
    
}
.cover a{
    text-decoration: none;
    color: white
}
.images{
    border-radius: 50%;
    border: 4px white solid;
    height: 200px;
<<<<<<< HEAD
    
    
=======
    margin-left: 570px;
>>>>>>> e91f37ebc61e091009d829136ec9ab0654de1c32
    
}
.intro{
    background-color: white;
    text-align: center;
    color: black;
    font-size: 20px;
    height: 900px;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 30px
   
}
.intro p::first-letter{
    font-size: 70px
}
.intro h2{
    font-size: 80px;
    color: #393939
}
.container{
    background-color: white
}
.img-books{
    height: 70px;
    width: 70px
}
.symbol{
    height: 80px;
    width: 50px
}
.footer{
    background-color: white;
    text-align: center   
}
.first-sec {
    width: 45.45454545454545%;
    float: left;
    margin-right: 9.090909090909%;
    
    
}
.first-sec b {
    color: black
}
.second-sec{
       margin-right: 0%;
}
.bold:hover{
    text-decoration: underline;
    color: turquoise
}
.ending {
    font-size: 15px;
    color: gray
}
.last-links a{
    text-decoration: underline;
<<<<<<< HEAD
    color: grey;
}
                                            {<home-html end>
                                            <--Work-html start-->;}
.alif{
    background-color:white !important 
}
.head a{
    text-decoration: none;
    color: black
}
.head{
    text-align: right;
    font-size: 14px;
    margin-top: 25px;
    margin-right: 30px
    
}
.head a:hover{
    text-decoration: underline;
    color: gray
}



.my-work{
   background-color: white;
   margin-left: 200px;
   margin-right: 200px;
   
   
   
}                
.my-work h2{
    text-align: center;
    font-size: 80px;
    font-family: 'Lobster', cursive;
    opacity: 2
    
    
}           
.my-work p{
    text-align: center;
    font-size: 25px
}    
.first{
    display: inline-block;
    margin: 1em;
    
   
}   
.second{
    display: inline-block;
    margin: 1em;
    

}   
.third{
    display: inline-block;
    margin: 1em;

}  
.ss{
    height: auto;
    width: auto;
    
} 
.snapshots{
    margin-left: 0px
}

=======
    color: grey
}
>>>>>>> e91f37ebc61e091009d829136ec9ab0654de1c32
